In [1]:
print("Hello world !")

Hello world !

In [2]:
my_students =['harish','vinod','sravan','prem','sreeram','suman']

print(my_students)

['harish', 'vinod', 'sravan', 'prem', 'sreeram', 'suman']

In [3]:
 for x in my_students: # writing for loop
        
        print(x)

harish
vinod
sravan
prem
sreeram
suman

In [10]:
# enhancement of the for loop

students =['vinod','akhil','ram','sirisha','harsha']

In [7]:
print(students)

['vinod', 'akhil', 'ram', 'sirisha', 'harsha']

In [56]:
for x in students:       # automating the print statements
    
    print(f"Thanks for joining the session on time,{x.title()}")
    
    #print("Thanks for showing intrest in learning python")

Thanks for joining the session on time,Vinod
Thanks for joining the session on time,Akhil
Thanks for joining the session on time,Ram
Thanks for joining the session on time,Sirisha
Thanks for joining the session on time,Harsha

In [27]:
for value in range(1,30):   # numbers to print 
    
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [31]:
num_list = list(range(1,10)) # print the range of no's as a list

print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
even_numlist =list(range(2,51,2)) # print even no's in range 
print(even_numlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [35]:
odd_numlist =list(range(3,51,2)) # print odd no's in range

print(odd_numlist)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]