In [18]:
print("Hello world of python !")

Hello world of python !

In [2]:
#introduction list slicing

my_students =['devi','ranga','sai','akhil','latha']

print(my_students)

['devi', 'ranga', 'sai', 'akhil', 'latha']

In [3]:
type(my_students)

list

In [ ]:
# req  

devi,ranga,sai ---on 1 division--->to be included
akhil,latha   ----on 2 division---->to be included

In [4]:
print(my_students[0:3])   # 1st slice

['devi', 'ranga', 'sai']

In [7]:
print(my_students[3:5])

['akhil', 'latha']

In [8]:
# a list of new students

students =['nikitha','syed','zakir','harish','ashok','venu','vinod','aditya','sandhya','krishna']

print(students)

['nikitha', 'syed', 'zakir', 'harish', 'ashok', 'venu', 'vinod', 'aditya', 'sandhya', 'krishna']

In [9]:
# alternate students picked up


print(students[0:9:1])   # with 1 step count

['nikitha', 'syed', 'zakir', 'harish', 'ashok', 'venu', 'vinod', 'aditya', 'sandhya']

In [10]:
print(students[0:9:2])    #even places index

['nikitha', 'zakir', 'ashok', 'vinod', 'sandhya']

In [11]:
print(students[1:10:2])   # odd places index

['syed', 'harish', 'venu', 'aditya', 'krishna']

In [ ]:
# slicing --general index  ----->startvalue:end value : step count

In [ ]:
# introduction to tuple Data type:

In [ ]:
defining a tuple  :tuple is immutable datatype , fix the value

In [12]:
dimensions =(200,50)

print(dimensions)

(200, 50)

In [13]:
type(dimensions)   # showing the data type

tuple

In [14]:
dimensions =(250,50)

print(dimensions)

(250, 50)

In [16]:
print(dimensions[0])    # accessing the tuple with indexing

250

In [17]:
print(dimensions[1])

50